Flask
Flask-CORS
python-dotenv
requests
google-generativeai
selenium
beautifulsoup4
pdfplumber
pytesseract
Pillow
langchain
langchain_community
faiss-cpu
sentence-transformers
lxml
torch
transformers
gunicorn
pypdf2

